#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*First component = title, watchCv, translate page and photo*/
.container-fluid .leftSideFc{
  margin-top: 100px;
}
.leftSideFc .name{
  color: #FC8F54;
}
.leftSideFc .watchCv{
  height: auto;
  width: 250px;
  min-width: 80px;
  margin-top: 5px;
  background-color: #FC8F54;
  color: black; 
  font-weight: 600;
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  font-size: 16px;
  cursor: pointer; 
  transition: background-color 0.3s ease;  
}
.leftSideFc .watchCv:hover {
  background-color: #80C4E9; 
}
.traductionButton{
  max-width: 170px;
  height: 40px;
  font-size: 6px;
}
/*End of first component*/

/*Second component = About me*/
.container-fluid .aboutMeContainer{
  margin-top: 150px;
}
.edscodesLogo img{
  border-radius: 15px;
}
.container-fluid .aboutMeContainer .aboutMe {
  padding: 15px;
  border-radius: 15px;
  background: linear-gradient(145deg, #e6e1e1, #ffffff);
  box-shadow:  9px 9px 18px #e0dcdc,
              -9px -9px 18px #ffffff;
}

.interactiveAboutMe {
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-family: 'Muli', sans-serif;
  position: relative;
  color: #000000;
  gap: 0.5rem;
}

.content:before {
  content: '[';
  color: #FC8F54;
  font-size: 2rem;
  margin-right: 0.2rem;
}

.content:after {
  content: ']';
  color: #FC8F54;
  font-size: 2rem;
  margin-left: 0.2rem;
}

p.about {
  margin: 0;
  line-height: 2rem;
  font-weight: bold;
}

.visible {
  overflow: hidden; /* Oculta los elementos fuera de la vista */
  height: 2rem; /* Define una altura fija para el área visible */
  display: flex;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  position: relative;
  animation: slide 8s linear infinite;
}

ul li {
  height: 2rem; /* Define una altura consistente */
  line-height: 2rem; /* Centra verticalmente el texto */
  text-align: left;
}

@keyframes slide {
  0%, 20% { transform: translateY(0); } /* Primer elemento visible (Me) */
  25%, 45% { transform: translateY(-2rem); } /* Segundo elemento visible (John) */
  50%, 70% { transform: translateY(-4rem); } /* Tercer elemento visible (edsCodes) */
  75%, 95% { transform: translateY(-2rem); } /* Regresa al segundo (John) */
  100% { transform: translateY(0); } /* Regresa al primero (Me) */
}

/*End of second component*/