#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*First component = title, watchCv, translate page and photo*/
.container-fluid .leftSideFc{
  margin-top: 100px;
}
.leftSideFc .name{
  color: #FC8F54;
}
.leftSideFc .watchCv{
  height: auto;
  width: 250px;
  min-width: 80px;
  margin-top: 5px;
  background-color: #FC8F54;
  color: black; 
  font-weight: 600;
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  font-size: 16px;
  cursor: pointer; 
  transition: background-color 0.3s ease;  
}
.leftSideFc .watchCv:hover {
  background-color: #80C4E9; 
}
.traductionButton{
  max-width: 170px;
  height: 40px;
  font-size: 6px;
}
/*End of first component*/

/*Second component = About me*/
.container-fluid .aboutMeContainer{
  margin-top: 150px;
}
.edscodesLogo img{
  border-radius: 15px;
}
.container-fluid .aboutMeContainer .aboutMe {
  padding: 15px;
  border-radius: 15px;
  background: linear-gradient(145deg, #e6e1e1, #ffffff);
  box-shadow:  9px 9px 18px #e0dcdc,
              -9px -9px 18px #ffffff;
}
/*End of second component*/

/*Second component = About me*/
.MySkillsContainer{
  margin-top: 150px;
}

.content {
  width: 237px;
  font-size: 36px;
  line-height: 40px;
  font-family: 'Muli';
  color: #000000;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 21%;
  margin-top: 160px;
  margin-left: -127px;

  &:before {
    content: '[';
    position: absolute;
    left: -30px;
    line-height: 40px;
  }
  &:after {
    content: ']';
    position: absolute;
    right: -30px;
    line-height: 40px;
  }
  &:after, &:before {
    color: #FC8F54;
    font-size: 42px;
    animation: 2s linear 0s normal none infinite opacity;
  }
}

.visible {
  float: left;
  font-weight: 600;
  overflow: hidden;
  height: 40px;
}

p {
  display: inline;
  float: left;
  margin: 0;
}

ul {
  margin-top: 0;
  padding-left: 20px;
  text-align: left;
  list-style: none;
  animation: 8s linear 0s normal none infinite change;
}

ul li {
  line-height: 40px;
  margin: 0;
}

@keyframes opacity {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes change {
  0% { margin-top: 0; }
  15% { margin-top: 0; }
  25% { margin-top: -40px; }
  40% { margin-top: -40px; }
  50% { margin-top: -80px; }
  65% { margin-top: -80px; }
  75% { margin-top: -40px; }
  85% { margin-top: -40px; }
  100% { margin-top: 0; }
}


/*End of second component*/